<ion-view ng-init="area.init()" view-title="{{area.active.name}}">
  <ion-content>
      <ion-list>

        <ion-item class="item-text-wrap slack-item-welcome">
          <div class="whiter">
            <div class="float">
              <h2>Welcome to the {{area.active.name}} Area!</h2>
              <p>This is the very beginning of the feed. It has <strong>{{area.active.sqft}} square feet</strong>, and was created on <strong>{{area.active.created | date : 'MMM d, y h:mm a'}}</strong>.</p>
            </div>
          </div>
        </ion-item>

        <ion-item ng-repeat="message in messages" class="slack-item-message">
            <img src="{{message.avatar}}" alt="avatar">
            <h2>{{message.user}} <span>{{message.date}}</span></h2>
            <p>{{message.text}}</p>
        </ion-item>

      </ion-list>
  </ion-content>
  <div keyboard-attach class="bar bar-footer bar-stable item-input-inset slack-menssage-bar">
    <i style="padding-left:15px;padding-right:20px" class="icon ion-android-locate"></i>
    <i ng-click="takePhoto()" style="padding-right:20px" class="icon ion-android-camera"></i>
    <i style="padding-right:20px" class="icon ion-ios-information"></i>

    <label class="item-input-wrapper">
      <input type="text" placeholder="Note"ng-focus="ajustarScroll()" ng-blur="ajustarScroll()" ng-model="message.text">
    </label>
    <div ng-class="{ocultar:!message.text}" ng-click="sendMessage(message)" class="button button-clear button-positive">
      Add
    </div>

  </div>
</ion-view>
