<ion-modal-view ng-controller="AreasCreateCtrl as areasCreate">
  <ion-header-bar>
    <h1 class="title">New Area</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="areasCreate.add.submit()">
      <div class="list">
          <fieldset class="row">
              <div class="form-group col-xs-6">
                  <label class="sr-only">Name</label>
                  <input type="text" class="form-control" ng-model="areasCreate.payload.name" placeholder="Area Name (i.e. Locker Room)">
              </div>
              <div class="form-group col-xs-6">
                  <label class="sr-only">SqFt.</label>
                  <input type="number" class="form-control" ng-model="areasCreate.payload.sqft" placeholder="Approx. SqFt. (i.e. 250)">
              </div>
          </fieldset>
          <fieldset class="row">
              <div class="form-group col-xs-12">
                  <textarea class="form-control" ng-model="areasCreate.payload.description" placeholder="Area description"></textarea>
              </div>
          </fieldset>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
