<ion-view view-title="{{job.active.name}}" ng-init="job.init()">
    <div class="button-bar button-outline button-positive" style="margin-top:45px;">
      <a class="button button button-outline button-positive" ng-click="job.clicked(1)" ng-class="{'active': var == 1}">FNOL</a>
      <a class="button button button-outline button-positive" ng-click="job.clicked(2)" ng-class="{'active': var == 2}">Maps</a>
      <a class="button button button-outline button-positive" ng-click="job.clicked(3)" ng-class="{'active': var == 3}">Feed</a>
    </div>
  <ion-content style="margin-top: 50px; margin-bottom: 45px" ng-class="{'active': var == 1}">

      <div class="card">
        <div class="item item-divider">
        Job Name
        </div>
        <div class="item item-text-wrap">
        {{job.active.name}}
        </div>
        <div class="item item-text-wrap">
        {{job.active.sqft}} sqft
        </div>
        <div class="item item-text-wrap">
        {{job.active.lossType}}
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
        Contact Info
        </div>
        <div class="item item-text-wrap">
        {{job.active.contact}}
        </div>
        <div class="item item-text-wrap">
        {{job.active.phone}}
        </div>
        <div class="item item-text-wrap" placeholder="email">
        {{job.active.email}} Email
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
        Job Address
        </div>
        <div class="item item-text-wrap">
        {{job.active.address}}
        </div>
        <div class="item item-text-wrap">
        {{job.active.city}}, {{job.active.state}}
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
        Description
        </div>
        <div class="item item-text-wrap">
        {{job.active.description}}
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
        Local Servpro
        </div>
        <div class="item item-text-wrap">
        {{job.active.localServpro}}
        </div>
        <div class="item item-text-wrap">
        {{job.active.localServproInvolv}}
        </div>
      </div>

  </ion-content>
        <a href="#/app/scopes/{{job.active._id}}">
          <div class="bar bar-footer bar-assertive" >
             <h1 class="title">Scope</h1>
          </div>
        </a>
  </div>
</ion-view>
